.loginSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loginBoxContainer {
    --login-box-width: 340px;

    background-color: white;
    width: var(--login-box-width);
    height: 455px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--gray);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 10px var(--shadow-black-30);
    overflow: hidden;
    margin: 50px 0;

    .header {
      background-color: var(--main-color-dark);
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px 15px 0 0;

      .happyLogo {
        height: 35px;
        width: 140px;
      }
    }

    .loginSwitchHeader {
      position: relative;

      .loginSwitch {
        color: var(--gray);
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 15px 0;

        .loginBtn {
          width: 50%;
          text-align: center;
        }

        .active {
          color: black;
        }

        div {
          cursor: pointer;
        }
      }

      .activeLine {
        background-color: var(--main-color);
        height: 4px;
        width: calc(var(--login-box-width) / 2);
        position: absolute;
        left: 0;
        bottom: 2px;
        margin: 0;
        transition: left var(--hover-time-medium) ease-in-out;

        &.register {
          left: calc(var(--login-box-width) / 2);
        }

      }

      .line {
        width: 100%;
        margin: 0;
      }
    }

    .loginMainContainer {
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: left var(--hover-time-medium) ease-in-out;

      &.register {
        left: calc(0px - var(--login-box-width))
      }

    }

  }

}
