.footer {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .iconContainer {
    svg {
      fill: white;
      height: 30px;
      width: 30px;
      transition: var(--hover-time-short) ease-in-out;

      &:hover {
        fill: var(--main-color);
      }
    }
  }

  .link {
    color: white;
    margin: 10px;
    transition: var(--hover-time-short) ease-in-out;

    &:hover {
      color: var(--main-color);
    }
  }
}

