.detailsPersonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.personContainer {
    max-width: 900px;
    display: flex;
    margin-bottom: 30px;
}

.bigPic {
    height: 400px;
    width: 270px;
    object-fit: cover;
    margin: 0px 20px;
}

.imagesContainer {
    width: 415px;
    display: flex;
    overflow-x: auto;
}

.imagesContainer img {
    width: 83px;
}

.personInfosContainer {
display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personContainer h2 {
    text-align: center;
}

.birthday {
    margin-bottom: 10px;
}

.deathday {
    margin-bottom: 10px;
}

.biographySection {
    background-color: var(--main-color-white);
    display: flex;
    justify-content: center;
}

.biography {
    width: 80%;
    text-align: justify;
    padding: 30px 0px;
}

/*----------------Bekannt für------------------------------*/
.knownForHeading {
    color: #494949;
    font-size: 24px;
}

.knownForContainer {
    display: flex;
}