.detailsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}

/*-------------------Head ---------------------*/
.movieHeadContainer {
    width: 80%;
    position: relative;
}

.title {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 35px;
}

.headImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    opacity: 0.3;
}

/*-----------------Movie Infos--------------------*/

.movieBox {
    width: 80%;
    height: 400px;
    display: flex;
    margin: 15px;
}

.detailsImage {
    width: 266px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 12px 3px rgba(128, 128, 128, 0.46);
    margin-right: 30px;
}

.detailsContainer {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailsContainer h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.infosHead {
    display: flex;
    align-items: center;
}

.fsk {
    height: 60px;
}

.releaseYear {
    margin: 10px 0px 0px 0px;
}

.genres {
    padding: 10px 0px;
}


.director {
    margin: 3px 0px;
}

.directorsContainer {
    display: flex;
}


.voting {
    width: 40px;
    height: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px;
}

/*-------------------Actor Section-----------------------*/
.actorSearchContainer {
    background-color: #e6edff;
    padding: 10px;
}

.searchBtn {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchInput {
    height: 17px;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 8px;
}

.actorContainer {
    display: flex;
    overflow-x: auto;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.showMoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.zeigeMehrBtn {
    width: 100px;
    background-color: transparent;
    border: 0px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
    margin: 5px 5px 15px 5px;
}


/*----------------Loader-------------------*/
.loaderContainer {
    height: 100px;
}

.loader,
.loader:before,
.loader:after {
    background: #588afe;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #588afe;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}


.descriptionHappyEndContainer {
    width: 80%;
}

.description {
    margin: 15px 0px;
}

.happyEnd {
    font-weight: 500;
    margin-top: 5px;
}

/*----------------Smileys----------------*/
.smileys {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.smiley {
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.smiley:hover {
    color: gray;
}

.smileyLaugh {
    color: #28b028;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.smileyLaugh:hover {
    filter: saturate(0.5);
}

.smileyNeutral {
    color: orange;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.smileyNeutral:hover {
    filter: saturate(0.5);
}

.smileySad {
    color: #d91212;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.smileySad:hover {
    filter: saturate(0.5);
}

/*---------------save Button-------------------------------*/
.saveButton {
    color: white;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.saveButton:hover {
    filter: saturate(2) brightness(1.2);
}
