.showroomSection {
    position: relative;
}

/*--------------------Sidebar*/
.sidebar {
    position: fixed;
    left: 0;
    border-right: 1px solid gray;
}

.filterContainer {
    margin: 130px 10px;
}

.filter {
    text-align: right;
    margin: 20px;
    cursor: pointer;
}

/*----------Content -----------------*/
.filteredMoviesContainer {
    position: absolute;
    top: 0;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 20px;
}