.showroomSection {
    position: relative;
}

/*--------------------Sidebar*/
.sidebar {
    position: fixed;
    left: 0;
    border-right: 1px solid gray;
}

.filterContainer {
    margin: 130px 10px;
}

.filter {
    text-align: right;
    margin: 20px;
    cursor: pointer;
}

/*----------Content -----------------*/
.filteredMoviesContainer {
    box-sizing: border-box;
    width: 82%;
    position: relative;
    top: 0;
    left: 18%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 30px;
}