.bewertungSection {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*--------Search Bar----------------*/

.searchBarContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 300px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px;
}

.searchButton {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor:pointer;
}


/*------------------Results---------------------*/

.resultSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

