.detailsSection {
    display: flex;
    justify-content: center;
}

.movieBox {
    height: 400px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detailsImage {
    border: 1px solid black;
    margin-right: 30px;
}

.detailsContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}