.detailsSection {
    display: flex;
    justify-content: center;
}

.movieBox {
    height: 400px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detailsImage {
    border: 1px solid black;
    margin-right: 30px;
}

.detailsContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailsContainer h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.filmInfos {
    display: flex;
    justify-content: space-between;
}

.voting {
    width: 30px;
    height: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}