.detailsSection {
    display: flex;
    justify-content: center;
}

.movieBox {
    height: 400px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detailsImage {
    border: 1px solid black;
    margin-right: 30px;
}

.detailsContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailsContainer h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.infosHead {
    display: flex;
    align-items: center;
}

.fsk {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 20px;
}

.filmInfos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.voting {
    width: 30px;
    height: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}


.happyEnd {
    font-weight: 500;
    margin-top: 15px;
}
/*----------------Smileys----------------*/
.smileys {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.smiley {
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.smiley:hover {
    color: gray;
}

.smileyLaugh {
    color: #28b028;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.smileyLaugh:hover {
    filter: saturate(0.5);
}

.smileyNeutral {
    color: orange;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.smileyNeutral:hover {
    filter: saturate(0.5);
}

.smileySad {
    color: #d91212;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.smileySad:hover {
    filter: saturate(0.5);
}

/*---------------save Button-------------------------------*/

.saveButton {
    color: white;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.saveButton:hover {
    filter: saturate(2) brightness(1.2);
}
