.movieContainer {
    background-color: var(--main-color-white);
    color: Black;
    width: 200px;
    position: relative;
    border: 1px solid gray;
    border-radius: 0px 0px var(--border-radius-medium) var(--border-radius-medium);
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: var(--hover-time-short) ease-in-out;
}

.movieContainer:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movieContainerClicked {
    background-color: var(--main-color-white);
    color: Black;
    width: 200px;
    position: relative;
    border: 1px solid gray;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: var(--hover-time-short) ease-in-out;
    animation: big 2000ms infinite;
    z-index: 100;
}
@keyframes big {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(4);
    }

}

.movieImage {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.movieInfosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movieTitle {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.smileyLaugh {
    position: absolute;
    top: 265px;
    right: 10px;
    color: #28b028;
    font-size: 25px;
    margin-bottom: 10px;
}

.smileySad {
    position: absolute;
    top: 265px;
    right: 10px;
    color: #d91212;
    font-size: 25px;
    margin-bottom: 10px;
}