
.searchBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.searchContainer {
    position: relative;
}

/*-------------Search----------------*/
.searchInput {
    /*font-size: 15px;*/
    border: 1px solid gray;
    border-radius: 20px;
    padding: 7px 10px 7px 40px;
    margin: 0px 10px;
}

.searchButton {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    margin: 7px 9px;
    cursor: pointer;
}

