/*------------------------Extra Infos---------------------------*/

/*----Videos---*/
.videoContainer {
  display: flex;
  overflow: auto;
}

.videoBox {
  margin-right: 5px;
}

.videoContainer::-webkit-scrollbar {
  height: 10px;
}

.videoContainer::-webkit-scrollbar-track {
  //border: 1px solid var(--gray);
  border-radius: 5px;
}

.videoContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
                  90deg,
                  var(--main-color) 0%,
                  var(--main-color-bright) 100%
  );
  //border: 1px solid var(--gray);
  border-radius: 5px;
}

.videoName {
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
