.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    margin-right: 6px;
  }

  input {
    min-width: 200px;
    font-size: 1.05rem;
    border-radius: 10px;
    border: 1px solid var(--gray);
    outline: none;
    padding: 8px;

    &:focus {
      border: 1px solid black;
      outline: 0.5px solid black;
    }
  }

  &.invalid {
    input {
      background-color: pink !important;
      border: 1px solid red;

      &:focus {
        outline: 1px solid red;
      }

      &::placeholder {
        color: red
      }
    }
  }

  &.dirty {
    input {
      background-color: var(--main-color-bright);
    }
  }

  .error {
    color: red
  }
}