.sectionContent {
  width: clamp(350px, 80%, 1280px);
  margin: 40px 10px;
}

.detailsMediaPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    display: flex;
    justify-content: center;
  }
}

/*----------------Media Section---------------*/

.mediaSection {
  width: 100%;
  position: relative;
}

/*-------------------Actor Section-----------------------*/
.actorSection {
  background-color: var(--main-color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*--------------------User Selection--------------------*/
.userSelectionSection {
  background-color: var(--main-color-white);
  width: 100%;
  display: flex;
  justify-content: center;
}

/*-------------------Images Video Section-----------------*/
.imagesVideosSection {
  width: 100%;
}

