.sectionContent {
  width: clamp(350px, 80%, 1280px);
  margin: 50px 10px;
}

.detailsMoviePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    display: flex;
    justify-content: center;
  }
}

/*----------------Movie Section---------------*/

.movieSection {
  width: 100%;
  position: relative;
}


/*-------------------Actor Section-----------------------*/
.actorSection {
  background-color: var(--main-color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


/*------------------------Extra Infos---------------------------*/

/*Images*/
.imageContainer {
  display: flex;
  overflow: auto;
  margin: 5px 0px 10px 0px;
}

.images {
  height: 150px;
  margin: 0px 5px 0px 0px;
}

.imageContainer::-webkit-scrollbar {
  height: 10px;
}

.imageContainer::-webkit-scrollbar-track {
  //border: 1px solid var(--gray);
  border-radius: 5px;
}

.imageContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
                  90deg,
                  var(--main-color) 0%,
                  var(--main-color-bright) 100%
  );
  //border: 1px solid var(--gray);
  border-radius: 5px;
}

/*Videos*/
.videoContainer {
  display: flex;
  overflow: auto;
}

.videoBox {
  margin-right: 5px;
}

.videoContainer::-webkit-scrollbar {
  height: 10px;
}

.videoContainer::-webkit-scrollbar-track {
  //border: 1px solid var(--gray);
  border-radius: 5px;
}

.videoContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
                  90deg,
                  var(--main-color) 0%,
                  var(--main-color-bright) 100%
  );
  //border: 1px solid var(--gray);
  border-radius: 5px;
}

.videoName {
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*----------------------User Selection--------------------------*/
.userSelectionSection {
  background-color: var(--main-color-white);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0px 50px 0px;
}

.userSelectionContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.happyEnd {
  font-weight: 500;
}

/*-------Smileys----*/
.smileys {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .smiley {
    font-size: 35px;
    cursor: pointer;
  }

  .smiley:hover {
    color: gray;
  }

  .smileyLaugh {
    color: var(--green);
    font-size: 36px;
    cursor: pointer;
  }

  .smileyLaugh:hover {
    color: var(--green-light);
  }

  .smileyNeutral {
    color: var(--orange);
    font-size: 36px;
    cursor: pointer;
  }

  .smileyNeutral:hover {
    color: var(--orange-light);
  }

  .smileySad {
    color: var(--red);
    font-size: 36px;
    cursor: pointer;
  }

  .smileySad:hover {
    color: var(--red-light);
  }
}

.gesehen {
  font-weight: 500;
}

/*---------------Eyes--------------------*/
.eyes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .eye {
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;

    &:hover {
      background-color: var(--gray-light);
    }
  }

  .eyeGreen {
    background-color: var(--green);
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    padding: 3px;

    &:hover {
      background-color: var(--green-light);
    }
  }

  .eyeRed {
    background-color: var(--red);
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    padding: 3px;

    &:hover {
      background-color: var(--red-light);
    }
  }
}

/*----------------Loader-------------------*/
.loaderContainer {
  height: 100px;
}

.loader,
.loader:before,
.loader:after {
  background: #588afe;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #588afe;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media(max-width: 550px) {
  .infoSection {
    margin-bottom: 20px;
  }
}
